services:
  # 提供静态网站服务
  frontend:
    build: 
      context: ../frontend
      dockerfile: Dockerfile
    ports: 
      - "${FRONTEND_PORT}:80"
    volumes:
      - ../frontend/docs/.vitepress/dist:/usr/share/nginx/html
      - ../frontend/nginx:/etc/nginx/conf.d
    depends_on:
      - backend

  # 后端API服务
  backend:
    build: 
      context: ../backend
      dockerfile: Dockerfile
    ports: 
      - "${BACKEND_PORT}:3000"
    environment:
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      TZ: Asia/Shanghai
    volumes:
      - ../frontend:/app/frontend
    depends_on:
      - db

  # 数据库服务
  db:
    image: postgres:15
    command: postgres -c 'timezone=Asia/Shanghai'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: Asia/Shanghai
      PGTZ: Asia/Shanghai
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: 